.row
  .small-12.columns
    %h1 ChangeLog
.row
  .small-12.columns
    Deployment title:
    %span
      = @thispull['title']
.row
  .small-12.columns
    Date/time:
    %span
      = DateTime.parse(@thispull['merged_at']).in_time_zone("Eastern Time (US & Canada)").strftime('%m/%d/%Y | %I:%M %p EST')

%br
.row
  .small-12.columns.end-of-header
    = link_to 'Back to all deployments', main_app.deployments_path

.row
  .small-12.columns
    %h2.repo-header Changes to CB-Mobile
- @commits.each do |commit|
  .row.commit
    .small-12.large-3.columns
      - unless commit['author'].nil?
        = image_tag(commit['author']['avatar_url'], class: 'gravatar')
      - else
        = image_tag('https://i2.wp.com/a248.e.akamai.net/assets.github.com/images/gravatars/gravatar-user-420.png', class: 'gravatar')
      = commit['commit']['author']['name']
    .small-12.large-9.columns.commit-message
      = link_to commit['commit']['message'], commit[:html_url]

.row
  .small-12.columns
    %h2.repo-header Changes to JobSearch
- @jobsearch_changes.each do |change|
  .row.commit
    .small-12.large-3.columns
      = image_tag(change[:user]['avatar_url'], class: 'gravatar')
      = change[:user]['login']
    .small-12.large-9.columns.commit-message
      = link_to change[:title], change[:url]
- if @jobsearch_changes.count == 0
  .row
    .small-12.columns
      No changes
