.row
  .small-12.columns
    %h1
      Usabilla Feedback
.row
  .accordion
    %dt.accordion-active.commit.small-12.columns.end-of-header
      Large Organizational Groups
    %dd
      - @buttons.items.each_with_index do |button, i|
        .small-12.medium-6.large-4.columns{class: (i == (@buttons.items.size - 1) ? 'end' : '') }
          = link_to button.name, usabilla_feedback_path(id: button.id)

%br
- if controller.do_feedback?
  .row.correction
    Remember, only angry people write reviews on the internet, so don't take these personally. Your mom wrote the happy ones. 
  %br
  .row.commit
    .small-12.large-1.columns
      Rating
    .small-12.large-2.columns.deployment-message
      Date of Comment
    .small-12.large-2.columns.page-viewed
      Page of Comment
    .small-12.large-6.columns.deployment-time
      Comment
  - @feedback.items.each_with_index do |item, i|
    .row.commit
      .small-12.large-1.columns
        Rating:
        = item.rating
      .small-12.large-2.columns.deployment-message
        = controller.reformat_date(item.date)
        %br
        - if item.public_url.present?
          = link_to 'View on Usabilla', item.public_url
      .small-12.large-3.columns.page-viewed
        = link_to item.url, item.url
      .small-12.large-6.columns
        = item.comment
    - if (i != 0) && ((i % 11) == 0)
      .row.commit.cat_row
        %img.cat_pix{ src: controller.cat_img }


  .row.correction
    = link_to 'Halp, I need moar cats', usabilla_cats_path(count: @buttons.items.size)
