.row
  .small-12.columns
    %h1
      = "#{params[:repo_name]} Deployments".titlecase
- if @diff[:behind_by] > 0
  .row
    .callout.alert
      %h5
        You have
        = @diff[:behind_by]
        pending production change(s)
      %br
      %a.button#pending{href: "https://github.com/#{params[:user_name]}/#{params[:repo_name]}/compare/production...master?expand=1"} View Pending Changes
      %br
      = link_to 'Deploy to production',create_prs_path(user_name:params[:user_name],repo_name:params[:repo_name])
.row.commit
  .small-12.columns.end-of-header
    Deployer / Title / Deployment Started
%br
- @pulls.each do |pull|
  .row.commit
    .small-12.large-3.columns
      = image_tag(pull.user_avatar, class: 'gravatar')
      = pull.user_login
    .small-12.large-6.columns.deployment-message
      = link_to pull.title, deployments_details_path(pull_id: pull.pull_number)
    .small-12.large-3.columns.deployment-time
      = pull.merged_at