!!!
%html{:lang => "en"}
  %head
    %meta{:content => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}/
    %meta{:charset => 'utf-8'}/
    %meta{ content: 'width=device-width, initial-scale=1.0', name: 'viewport' }
    %title= content_for?(:title) ? yield(:title) : 'Ruby Deployments Dashboard'
    %link{ href: 'http://fonts.googleapis.com/css?family=Raleway', rel: 'stylesheet', type: 'text/css' }
    = stylesheet_link_tag    'application'
    = csrf_meta_tags
  %body
    .top-bar
      .top-bar-left
        %ul.dropdown.menu{'data-dropdown-menu' => ''}
          %li
            = link_to 'Deployments Dashboard', root_path
      .top-bar-right
        %ul.dropdown.menu{'data-dropdown-menu' => ''}
        - if session[:token].present?
          %li
            = link_to image_tag(session[:avatar], class: 'gravatar'), session[:url]
            = session[:login]
          %li
            = link_to 'Sign Out', oauth_destroy_path, class: 'button'
        - else
          %li
            = link_to 'Sign In', oauth_authorize_path, class: 'button'
    .main-body
      = yield
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
