!!!
/DO NOT DELETE THE !!! this means <DOCTYPE>
/[if lt IE 7 ] <html class="ie6" lang="en">
/[if IE 7 ] <html class="ie7" lang="en">
/[if IE 8 ] <html class="ie8" lang="en">
/ [if (gte IE 9)|!(IE)]><!
%html{lang: 'en'}
  / <![endif]
  %head
    %meta{ charset: 'utf-8' }
    %meta{ content: 'width=device-width, initial-scale=1.0', name: 'viewport' }
    - if yield(:title).blank?
      %title CareerBuilder
    - else
      %title= yield(:title)
    %link{ href: 'http://fonts.googleapis.com/css?family=Raleway', rel: 'stylesheet', type: 'text/css' }
    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags
    = yield :head
  %body
    .row
      .large-8.columns
      .large-4.columns
        .row
        - if session[:token].present?
          .large-6
            = link_to image_tag(session[:avatar], class: 'gravatar'), session[:url]
            = session[:login]
          .large-6
            = link_to 'Sign Out', oauth_destroy_path
        - else
          .large-12
            = link_to 'Sign In', oauth_authorize_path
    .main-body
      = yield
    = javascript_include_tag 'application'